@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: rgb(255 255 255); /* oklch(1 0 0) → branco */
  --foreground: rgb(38 32 91); /* oklch(0.13 0.028 261.692) */
  --card: rgb(255 255 255);
  --card-foreground: rgb(38 32 91);
  --popover: rgb(255 255 255);
  --popover-foreground: rgb(38 32 91);
  --primary: rgb(41 37 100); /* oklch(0.21 0.034 264.665) */
  --primary-foreground: rgb(251 249 255); /* oklch(0.985 0.002 247.839) */
  --secondary: rgb(246 246 246); /* oklch(0.967 0.003 264.542) */
  --secondary-foreground: rgb(41 37 100);
  --muted: rgb(246 246 246);
  --muted-foreground: rgb(119 116 179);
  --accent: rgb(246 246 246);
  --accent-foreground: rgb(41 37 100);
  --destructive: rgb(193 113 25); /* oklch(0.577 0.245 27.325) */
  --border: rgb(234 234 235); /* oklch(0.928 0.006 264.531) */
  --input: rgb(234 234 235);
  --ring: rgb(176 172 218);
  --chart-1: rgb(188 134 38); /* oklch(0.646 0.222 41.116) */
  --chart-2: rgb(112 146 189);
  --chart-3: rgb(73 91 141);
  --chart-4: rgb(209 195 102);
  --chart-5: rgb(188 180 77);
  --sidebar: rgb(251 249 255);
  --sidebar-foreground: rgb(38 32 91);
  --sidebar-primary: rgb(41 37 100);
  --sidebar-primary-foreground: rgb(251 249 255);
  --sidebar-accent: rgb(246 246 246);
  --sidebar-accent-foreground: rgb(41 37 100);
  --sidebar-border: rgb(234 234 235);
  --sidebar-ring: rgb(176 172 218);
}

.dark {
  --background: rgb(7, 5, 19);
  --foreground: rgb(251 249 255);
  --card: rgb(12, 10, 34);
  --card-foreground: rgb(251 249 255);
  --popover: rgb(20, 19, 39);
  --popover-foreground: rgb(251 249 255);
  --primary: rgb(234 234 235);
  --primary-foreground: rgb(41 37 100);
  --secondary: rgb(56, 51, 85);
  --secondary-foreground: rgb(251 249 255);
  --muted: rgb(36, 31, 61);
  --muted-foreground: rgb(160, 159, 175);
  --accent: rgb(73, 66, 110);
  --accent-foreground: rgb(251 249 255);
  --destructive: rgb(178 113 22);
  --border: rgba(255 255 255 / 0.1);
  --input: rgba(255 255 255 / 0.15);
  --ring: rgb(20, 19, 31);
  --chart-1: rgb(124 122 168);
  --chart-2: rgb(160 146 164);
  --chart-3: rgb(188 180 77);
  --chart-4: rgb(156 164 221);
  --chart-5: rgb(164 160 41);
  --sidebar: rgb(12, 11, 36);
  --sidebar-foreground: rgb(251 249 255);
  --sidebar-primary: rgb(124 122 168);
  --sidebar-primary-foreground: rgb(251 249 255);
  --sidebar-accent: rgb(70 66 89);
  --sidebar-accent-foreground: rgb(251 249 255);
  --sidebar-border: rgba(255 255 255 / 0.1);
  --sidebar-ring: rgb(119 116 179);
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
